[run]
omit =
    */migrations/*
    */settings.py
    */asgi.py
    */wsgi.py
    */manage.py
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.: 
show_missing = True
